body {
    background: rgb(17, 17, 194);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#titulo{
    text-align: center;
}

#uno-hr {
    height: 3px;
    background-color: white;
}

#dos-hr {
    height: 1px;
    background-color: white;
}

h2.destacado {
    color: blue;
    background-color: red;
}
p.oculto {
    display: none;
}
h2.activo {
    color: blue;
    background-color: red;
}

#imagen {
    width: 15em;
    height: 20em;
}

.imagen-oculta {
    display: none;
}

.imagen-visible {
    display: block;
}